<!DOCTYPE html>
<html lang="fr">
   {{template "InitPage" .}}
<body>
    <!-- Header -->
   {{template "AdminHeader" .}}

    <div class="main-container">
        <!-- Sidebar -->
        <div class="sidebar">
            <p>>Dashboard</p>
            
            <!-- Menu déroulant Gestion des posts -->
            <details>
                <summary>Gestion des sujets</summary>
                {{range .Topics}}<a href="{{.TopicID}}" class="menu-item">{{.Name}}</a> ouvert par {{(index .Messages 0).Author.Username}} {{end}}
            </details>
            
            <!-- Menu déroulant Gestion des catégories -->
            <details>
                <summary>Gestion des categories</summary>
                 {{range .Categories}}<a href="{{.ID}}" class="menu-item">{{.Name}}</a> 
                {{end}}
                <a href="add" class="menu-item">Créer une nouvelle catégorie</a>
            </details>
            
            <!-- Menu déroulant Gestion des users -->
            <details>
                <summary>Gestion des utilisateurs</summary>
                 {{range .Users}}<img src="{{.ProfilPic}}"/><span class="menu-item">{{.Username}}</span> {{end}}
            </details>
            
            <!-- Lien simple -->
            <p class="simple-link">>paramètres</p>
        </div>

        <!-- Content Area -->
        <div class="content-area">
            <!-- Dashboard Header -->
            <div class="dashboard-header">
                <h1>Dashboard</h1>
            </div>

        <!--statistics table-->
        <div class="table-container">
            <div class="table-title">Statistiques</div>
                <div>Nombre total d'utilisateur : {{.Stats.TotalUsers}}</div>
                <div>Dernier utilisateur enregistré : {{.Stats.LastUser}}</div>
                <div>Nombre de sujets ouverts : {{.Stats.TotalTopics}}</div>
                <div>Messages postés au cours du dernier mois : {{.Stats.LastMonthPost}}</div>         
        </div>

            <!-- Recent Posts Table -->
            <div class="table-container">
                <div class="table-title">recent posts</div>
                <table>
                    <thead>
                        <tr>
                            <th>Sujet</th>
                            <th>Auteur</th>
                            <th>Aperçu</th>
                            <th>Interactions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <!-- Forum Categories Table -->
            <div class="table-container">
                <div class="table-title">forum categories</div>
                <table>
                    <thead>
                        <tr>
                            <th>Nom</th>
                            <th>Description</th>
                            <th>Sujets</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{range .Categories }}<tr>
                            <td> <a href="/categorie/{{.ID}}" target="_blank">{{.Name}}</a></td>
                            <td> {{.Description}} </td>
                            <td> {{range .Topics}} <a href="/topic/{{.TopicID}}" target="_blank">{{.Name}} </a><br> {{end}} </td>
                        </tr>
                        {{end}}
                    </tbody>
                </table>
                <button class="add-btn">add new categories</button>
            </div>
        </div>
    </div>
  
    
</body>
</html>