<!DOCTYPE html>
<html lang="fr">
   {{template "InitPage" .}}
<body>
    <!-- Header -->
   {{template "AdminHeader" .}}

    <div class="main-container">
       {{template "AdminSidebar" .}}

        <!-- Content Area -->
        <div class="content-area">
           

        <!--statistics table-->
        <div class="table-container">
            <div class="table-title">Statistiques</div>
                <div>Nombre total d'utilisateur : {{.Stats.TotalUsers}}</div>
                <div>Dernier utilisateur enregistré : {{.Stats.LastUser}}</div>
                <div>Nombre de sujets ouverts : {{.Stats.TotalTopics}}</div>
                <div>Messages postés au cours du dernier mois : {{.Stats.LastMonthPost}}</div>         
        </div>

            <!-- Recent Posts Table -->
            <div class="table-container">
                <div class="table-title">Messages postés dans les 30 derniers jours</div>
                <div class="admin-list"><table>
                    <thead>
                        <tr>
                            <th>Aperçu</th>
                            <th>Sujet</th>
                            <th>Auteur</th>
                            <th>Interactions</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{range .PostList}}
                        <tr>
                            <td> <pre>{{preview .Content 200}} </pre></td>
                            <td>{{preview .TopicName 20}}</td>
                            <td> {{ .Author.Username}} </td>
                            <td> 👍 {{.Likes}} / 👎 {{.Dislikes}} </td>
                        </tr>
                        {{end}}
                    </tbody>
                </table>
                </div>
            </div>

            <!-- Forum Categories Table -->
            <div class="table-container">
                <div class="table-title">Liste des catégories</div>
               <div class="admin-list"> <table>
                    <thead>
                        <tr>
                            <th>Nom</th>
                            <th>Description</th>
                            <th>Sujets</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{range .Categories }}<tr>
                            <td> <a href="/categorie/{{.ID}}" target="_blank">{{.Name}}</a></td>
                            <td> <pre>{{preview .Description 200}}</pre> </td>
                            <td> {{range .Topics}} <a href="/topic/{{.TopicID}}" target="_blank">{{.Name}} </a><br> {{end}} </td>
                        </tr>
                        {{end}}
                    </tbody>
                </table></div>
            </div>
        </div>
    </div>
  
    
</body>
</html>